
@model MiWebApp.ViewModels.ProductoViewModel
<section>
    <h3>ENCONTRAR PRODUCTOS</h3>
</section>
<section>
<form asp-controller="Productos" asp-action="Details" method="post" >
    
    <section>
        <input asp-for="IdProducto" type="hidden" class="form-control" />
    </section>
     <button type="submit">Ver Detalle</button>
</form>


</section>

@if (Model != null && !string.IsNullOrEmpty(Model.Descripcion))
{
    <section>
        <h4>Resultado:</h4>
        <p>Descripción: @Model.Descripcion</p>
        <p>Precio: @Model.Precio</p>
    </section>
}
