

@{
ViewData["Title"] = "Home Page";
}

@model List<Productos>
<section>

    <table class="table table-bordered table-hover">
    <thead>
    <caption> LISTA DE PRODUCTOS</caption>
    </thead>

        <tbody>
    
            <tr> 
            <td>Productos</td>
            <td>Descripcion</td>
            <td>Precio</td>
            </tr>

            @foreach (Productos producto in Model)
            {   <tr>
                    <td> @producto.IdProducto</td>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<style>
  table caption {
    caption-side: top;     
    text-align: center;   
    font-weight: bold;     
    margin-bottom: 8px;    
  }
</style>
