

@{
ViewData["Title"] = "Productos";
}

@model List<Productos>
<section>

    <table class="table table-bordered table-hover">
    <thead>
    <caption> LISTA DE PRODUCTOS</caption>
    </thead>

        <tbody>
    
            <tr> 
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Crear</th>
            <th>Editar</th>
            <th>Borrar</th>
            </tr>

            @foreach (Productos producto in Model)
            {   <tr>
                    <td>@producto.Descripcion</td>
                    <td>@producto.Precio </td>
                    <td> </td>
                    <td><a asp-controller="Productos" asp-action="Edit" asp-route-id="@producto.IdProducto" class="btn btn-primary">Editar</a> </td>
                </tr>
            }
        </tbody>
    </table>
</section>

<style>
  table caption {
    caption-side: top;     
    text-align: center;   
    font-weight: bold;     
    margin-bottom: 8px;    
  }
</style>
