@model MiWebApp.ViewModels.PresupuestoViewModel
<section>
    <h3>BORRAR PRESUPUESTOS</h3>
</section>
<section>


<p>Seguro que lo queres borrar?</p>


<form asp-controller="Presupuesto" asp-action="Delete" >
    
    <section>
        
        <input asp-for="IdPresupuesto" type="hidden" class="form-control" />
    </section>

   
     <button type="submit" class="btn btn-secondary" >Si</button>
     <a asp-controller="Presupuesto" asp-action="Index" class="btn btn-secondary">No</a>
</form>


</section>