@model MiWebApp.Models.Presupuestos
<section>
    <h3>EDITAR PRESUPUESTOS</h3>
</section>
<section>
<form asp-controller="Presupuesto" asp-action="Edit" >
    
    <section>
        <label asp-for="NombreDestinatario">Nombre del destinatario</label>
        <input asp-for="NombreDestinatario" class="form-control" />
    </section>

    <section>
        <label asp-for="IdPresupuesto">Id del Presupuesto</label>
        <input asp-for="IdPresupuesto" min=1 class="form-control" />
    </section>

    <section>
        <label asp-for="FechaCreacion">Fecha de Creacion</label>
        <input asp-for="FechaCreacion" class="form-control" />
    </section>
     <button type="submit">Enviar</button>
</form>

<!--falta poner la posibilidad de editar ademas del presupuesto, los productos y sus detalles--->
</section>