@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">index Presupuesto</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">c</a>.</p>
</div>
