

@{
ViewData["Title"] = "Home Page";
}

@model List<Presupuestos>
<section>
    <table class="table table-bordered table-hover">
        <caption>LISTA DE PRESUPUESTOS</caption>

        <thead>
            <tr>
                <th>ID Presupuesto</th>
                <th>Nombre Destinatario</th>
                <th>Fecha Creación</th>
                <th>Crear</th>
                <th>Editar</th>
                <th>Borrar</th>

            </tr>
        </thead>

        <tbody>
            @foreach (Presupuestos presu in Model)
            {
                <tr>
                    <td>@presu.IdPresupuesto</td>
                    <td>@presu.NombreDestinatario</td>
                    <td>@presu.FechaCreacion</td>
                   <!--- <td><a asp-controller="Producto" asp-action="Details" asp-route-id="@presu"> </td>
                    <td> </td>
                    <td> </td>--->
                </tr>

            }
        </tbody>
    </table>
</section>

<style>
  table caption {
    caption-side: top;     
    text-align: center;    
    font-weight: bold;     
    margin-bottom: 8px;    
  }
</style>
